@media screen and (max-width:46em), (max-width:68em) {

    .Hamburger {
        content: var(--mobile-menu);
        cursor: pointer;
    }

    .Hamburger-close {
        content: var(--mobile-menu-close);
        cursor: pointer;
    }

    .nav-container .list-mobile {
        position: absolute;
        display: block;
        top: 105px;
        width: 50%;
        text-align: center;
    }
   .intro{
    width:100%;
   }
   .nav-brand {
    content: var(--logo1);
    width: 80%;
}

    .list-item {
        padding-top: 2em;
    }

    .list-mobile {
        background-color: #fff;
        position: absolute;
        right: 0px;
        height: 100vh;
        display: none;
    }
    .flex{
        flex-direction:column;
        justify-content: center;
    }

    .btn {
        margin: 0em 1em;
    }

    .btn,
    .connect {
        text-align: center;
    }

    .container {
        flex-direction: column;
    }

    .hero-img {
        width:100%;
    }

    .img-6 {
        margin-top: 0px;
    }

    .img-3 {
        margin-top: 0px;
    }

    .card {
        grid-template-columns: auto auto;
    }

    .section-container {
        flex-direction: column;
    }

    .section3-img {
        width: 50%;
    }
   
    .belt{
        flex-direction: column;
        height:max-content;
        gap:35px;
        width:100%;
    
    }
.hero-text{
    font-size:45px;
    width:fit-content;
    
}
.hero-paragraph {
  width:100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  padding-top: 48px;
  word-break:keep-all ;

}
.section-2 p{
    width:100%;
    font-size:24px;
    line-height:40px;

}

.search-session{
    width:75%;
}

.overlay-card{
   left:15%;
 
    }
    .connect-wallet {
        border: 1px solid #CFD8DC;
        flex: none;
        align-self: stretch;
        padding:2em;
        display: flex;
        justify-content: space-between;
        
        }
  
        .metamask{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            /* width: 234px; */
            height: 68px;
            background: #F8F9FA;
            border: 1px solid #CFD8DC;
            border-radius: 12px;
            padding:0px 5px;
            margin-bottom:1em;
            padding:1px 3em;
            }

}

@media screen and (max-width:36em){
    
    .card {
        grid-template-columns: auto;
        place-content: center;
        place-items: center;
    }
    .footer-list{
        flex-direction: column;
    }
}